@charset "UTF-8";

:root {
    --cor001: #020124;
    --cor002: #29314D;
    --cor003: #3E4C7A;
    --cor004: #1B3280;
    --cor005: #284CBF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    

    background-color: var(--cor001);
}

h1#titulo {
    margin: 10px;
    padding-top: 15px;
    text-align: center;
    font-size: 3rem;
    color: aqua;
}


.cursos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

@media screen and (max-width: 767px) {
    .cursos {
        justify-content: center;
    }
}

div.card-cursos {
    margin: 15px;
    width: 215px;
    height: 270px;
    display: flex;
    gap: 2px;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 255, 255, 0.589);
}

#primeiro-curso {
    display: flex;
    gap: 60px;
}

.card-cursos img {
    height: 53px;
    width: 50px;
    padding-top: 5px;
}

.card-cursos h1 {
    font-size: 1.6rem;
    color: aqua;

}

.card-cursos p {
    color: rgb(173, 163, 163);
    text-align: center;
}

.btn-cert {
    width: 180px;
    height: 30px;
    border-radius: 25px;
    font-size: 1rem;
    border: 2px solid #1c7ce2;
    background-color: transparent;
}

.btn-cert a {
    text-decoration: none;
    color: #1c7ce2;
    
}

.btn-cert:hover {
    background-color: #1c7ce2;
}

.btn-cert:hover a {
    background-color: #1c7ce2;
    color: white;
}

.text-me {
    display: block;
    margin: auto;
    flex-flow: wrap;
    width: 90dvw;
    justify-content: center;
}

.text-me p {
    font-size: 1.7rem;
    padding: 20px;
    margin: auto;
    color: rgb(173, 163, 163);
    text-align: left;
    border: 1px solid red;
}